/*---------------------------------------------------*/
/* Script by Aziz Natour (www.aziznatour.com) -------*/
/* Modified by Sirius (www.energymt2.org) -----------*/
/*---------------------------------------------------*/
html, body, * {
	padding:0; 
	margin:0;
}

body {
	background:#000000 url("../images/ui/bg.jpg") no-repeat;
	background-attachment: fixed;
	background-position: top center;
	text-align:center;
	color:#fff6cc;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#wrapper{
	width:508px;
	margin:15% auto;
}
.postui {
	background:url("../images/ui/content_post_ui.png");
}

	.post-title {
		height:51px;
		line-height:50px;
	}
	
	.post-end {
		background-position:left bottom;
		height:12px;
		margin-bottom:25px;
	}
	
	.post-con {
		background-position:center right;
		background-repeat:repeat-y;
		line-height:1.8;
		font-size:11px;
	}
	
		.post-title h2 {
			float:left;
			color:#ffc;
			font-size:14px;
			text-shadow:0 0 5px #ffc;
			text-indent:42px;
		}
		.con-wrap {
			padding:8px 25px;
		}
		
			.con-wrap p {
				padding-bottom:15px;
			}