/*---------------------------------------------------*/
/* Script by Aziz Natour (www.aziznatour.com) -------*/
/* Modified by Sirius (www.energymt2.org) -----------*/
/*---------------------------------------------------*/
html, body, * {
	padding:0; 
	margin:0;
}
html {
	overflow: auto;
}
#wrapper {
	height:550px;
	max-height:550px;
	width:740px;
	max-width:740px;
	background:#000000 url("../images/ui/bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size:auto 90%;
	text-align:center;
	color:#fff6cc;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	overflow:hidden;
}
a {text-decoration:none; color:#fd0}
	a:hover {color:#fd0;}
	a:active {color:#fd0;}	
	a:focus {outline:none;}		
	a img {border:none;}
#head{
	width:508px;
	margin:auto;
	display:block;
}
#navi {
	width:208px;
	float:left;
}
#conwrapper {
	width:525px;
	max-height:477px;
	float:right;
	display:block;
	overflow:scroll;
	overflow-x:hidden;
	-ms-overflow-x:hidden;
}
/*---------------------------------------------------*/
/* Content ------------------------------------------*/

.postui {
	background:url("../images/ui/content_post_ui.png");
}

	.post-title {
		height:51px;
		line-height:50px;
	}
	
	.post-end {
		background-position:left bottom;
		height:12px;
		margin-bottom:25px;
	}
	
	.post-con {
		background-position:center right;
		background-repeat:repeat-y;
		line-height:1.8;
		font-size:11px;
	}
	
		.post-title h2 {
			float:left;
			color:#ffc;
			font-size:14px;
			text-shadow:0 0 5px #ffc;
			text-indent:42px;
		}
		.con-wrap {
			padding:8px 25px;
		}
		
			.con-wrap p {
				padding-bottom:15px;
			}
				a.more {
					width:101px;
					height:26px;
					display:block;
					background:url("../images/ui/content_button.png");
					color:#ffc;
					line-height:26px !important;
					font-size:11px;
					text-transform:uppercase;
					text-indent:20px;
					text-shadow:0 0 3px #ffc;
					cursor:pointer;
				}
				
					a.more:hover {
						color:#fd0;
						background-position:center left;
					}	
					
					a.more:active {
						color:#fd0;
						background-position:bottom left;
					}
	.sb-title {
		height:51px;
		background:url("../images/ui/sidebar_ui_title_default.png");
		line-height:51px;
	}
	
	.sb-end {
		background:url("../images/ui/sidebar_ui_end.png");
		height:13px;
		margin-bottom:15px;
	}
	
	.sb-con {
		background:url("../images/ui/sidebar_ui_con.png") repeat-y top center;
		padding:5px 15px;
	}
	
	
		
			.sidebar h3 {
				color:#ffc;
				text-shadow:0 1px 4px #ffc;
				font-size:14px;
				text-indent:42px;
			}
		input.btn {
			border:none;
			display:inline-block;
			height:32px;
			width:82px;
			margin:10px 0 4px;
			background:url("../images/ui/sidebar_login_btn.png");
			cursor:pointer;
			color:#ffc;
			font-size:12px;
			text-shadow:0 0 3px #ffc;
			text-align:center;
		}
		
			*>input.btn {
				padding-bottom:5px;
			}
			input.btn:disabled{  /* fuck IE < v9 :D  */
				background:white;
				color:black;
			}
			input.btn:hover {
				color:#ff9;
				background-position:center center;
			}
			
			input.btn:active {
				color:#ff9;
				background-position:bottom center;
			}	